<section class="courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-title">
                    <h2>Courses</h2>
                </div>
            </div>
        </div>
        <div class="row courses-wrap">
            {{#each list_courses}}
            <div class="col-md-4">
                <div class="row courses-element">
                    <div class="courses-block">
                        <img src="{{#unless isPageHome}}..{{/unless}}/{{this.image_url}}" alt="" />
                        <p><b>{{this.course_name}}</b></p>
                        <p><b>{{this.language}}</b></p>
                        <p>{{description}}</p>

                        <div class="add-btn courses-btn_wrap">
                            <a href="{{this.start_url}}" class="btn btn-primary">
                                Start now
                            </a>
                            <a href="{{this.curriculum_url}}"
                                class="btn btn-primary">
                                View curriculum
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>
    <div class="courses-bg courses-bg_secong">
        <img src="{{#unless isPageHome}}..{{/unless}}/images/bg-image4.png" class="img-fluid" alt="#" />
    </div>
</section>